<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron mainbox">
        <h1>Hello, WebApp!</h1>
        <p>这是我的个人微型博客空间。</p>
        <p><a class="btn btn-primary btn-lg" href="/posts" role="button">进入新世界</a></p>
    </div>
</div>